.sushi{
    padding-top: 200px;
    background-color: #e4f9f5;
    }
body{
    margin: 0;
    text-align: center;
    }
h1{
    font-size: 5.625em;
    margin-top: 0;
    margin: 0 auto;
    color: #66BFBF;
    font-family: "Gill Sans Extrabold", sans-serif;
    }
h2{
    font-size: 2.8125em;
    color: #66BFBF;
    font-weight: normal;
    font-family: fangsong;
}
h3{
    color: #11999E;
}
.underline{
    position: center;
}
.left-cloud{
    object-fit: cover;
    max-height: 100px;

}
.right-cloud{
    object-fit: cover;
    max-height: 100px;
}
.mountain{
    position: relative;
    object-fit: cover;
    width: 100%;
    top: 4px;
}
.footer-link{
    color: #11999E;
}
.title-wrap{
    display: flex;
    width: 100%;
}